{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/pages/home.css' %}">
{% endblock %}

{% block content %}

<div class="home-container">

    <div class="logo">
        🍽
    </div>

    <h1>풍성한 식탁</h1>
    <h2>풍성한 교제</h2>

    <p>
        함께 식사하며<br>
        함께 삶을 나누는 시간
    </p>

    <div class="button-group">

        <a href="{% url 'survey:enter' %}" class="main-btn">
            참여하기
        </a>

        <a href="{% url 'survey:register' %}" class="sub-btn">
            처음 오셨나요?
        </a>

    </div>

</div>

{% endblock %}