{% extends "base.html" %}

{% block title %}
참석 여부
{% endblock %}

{% block content %}

<div class="card">

    <div class="card-body">

        <h2>{{ meeting.title }}</h2>

        <hr>

        <p>
            <strong>📅 날짜</strong><br>
            {{ meeting.meeting_date|default:"미정" }}
        </p>

        <p>
            <strong>🍽 식사</strong><br>
            {{ meeting.get_meal_type_display|default:"미정" }}
        </p>

        <p>
            <strong>🕒 시간</strong><br>
            {{ meeting.meeting_time|default:"미정" }}
        </p>

        <p>
            <strong>📍 장소</strong><br>
            {{ meeting.location|default:"미정" }}
        </p>

        <hr>

        <form method="post">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-success"
            >
                제출하기
            </button>

        </form>

    </div>

</div>

{% endblock %}